<extend name="Public/index"/>
<block name="content">

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">潮流动态信息修改</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              潮流动态信息表修改
          </div>
          <div class="panel-body">
               <div class="row">
                   <div class="col-lg-6">
                       <form role="form" action="{:U('Admin/Fashion/update')}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="id" value="{$info.id}">
                           <input type="hidden" name="ftime">


                           <div class="form-group">
                               <label>标题名</label>
                               <input name="title" value="{$info.title}" placeholder="请输入要潮流动态标题名称" class="form-control">
                           </div>
                           <div class="form-group">
                               <label>发布者</label>
                               <input name="publisher" value="{$info.publisher}" placeholder="请输入发布者" class="form-control">
                           </div>
                            <div class="form-group">
                               <label>发布者简介</label>
                               <input name="authorintro" value="{$info.authorintro}" placeholder="请输入发布者简介" class="form-control">
                           </div>

                           <div class="form-group">
                               <label>上传图片</label>
                               <input name="fpic" type="file">
                               <img src="{$info.fpic}" width="100px">
                           </div>

                            <div class="form-group">
                               <label>动态内容</label>

                            <script id="editor" name="fmsg" type="text/plain" style="width:800px;height:500px;">{$res}
                            </script>
                           </div>
                           <button class="btn btn-warning" type="reset">重置</button>
                           <button class="btn btn-info" type="submit">提交</button>
                       </form>
                   </div>
               </div>
          <!-- /.panel-body -->
          </div>

        <!-- /.panel -->
        </div>
       <!-- /.col-lg-12 -->
      </div>
    </div>
</div> 

<script type="text/javascript">

      //实例化编辑器
      //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
      var ue = UE.getEditor('editor');

</script> 
</block>