<extend name="Public/index"/>
<block name="content">
  <div id="page-wrapper">
    <div class="row"style="background:pink;">
      <div class="col-lg-12">

        <center><h2 class="page-header" style="center"><img src="__PUBLIC__/Home/Images/kxyk.jpg" style="margin-left:30px;width:80px;height:80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开心一刻社区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<c id="dtime" style="height:10px;">Welcome To Joke Party </c>
        </h2></center>
        
        <img src="__PUBLIC__/Home/Images/xhz.png" style="width:1230px;height:300px;">
      </div><!-- /.col-lg-12 -->
    </div><!-- /.col-lg-12 -->
    <div class="row">
      <div class="col-lg-12"style="background:pink;height:300px;">
        <h4 class="col-lg-1"style="margin-left:2px;background:#e1e1e1;margin-top:30px;line-height:35px;" >活动区</h4>
       <div style="width:1000px;height:60px;margin-top:30px;">
          <center>
          <a id="btn" class="btn btn-primary btn-info" type="button"><i class="fa fa-wrench"></i> 猜谜游戏</a>
          <button type="button"class="btn btn-warning btn-info">答案</button>
          <!-- <pre style="width:210px;display:none;">
           1 .动物园园长
           2 .电影中的人
           3 .螺帽
           4 .遗书
           5 .右耳朵
           6 .泪水
           7 .手，脚
           8 .三长两短
           9 .鹅是企鹅
           10.CD
          </pre> -->
          <a id="chou" class="btn btn-danger btn-info" type="button"><i class="fa fa-wrench"></i> 幸运抽奖</a>&nbsp;&nbsp;&nbsp;&nbsp;</center>
          <center style="font-size:30px;margin-top:20px;"><span id="uname" style="font-size:14px;">&nbsp;&nbsp;&nbsp;</span></center>
<pre style="width:180px;display:none;margin-left:640px;">
 1 .动物园园长
 2 .电影中的人
 3 .螺帽
 4 .遗书
 5 .右耳朵
 6 .泪水
 7 .手，脚
 8 .三长两短
 9 .鹅是企鹅
 10.CD
</pre>
     </div>
    </div><!-- col-lg-12 -->
   </div><!-- /row -->
    <div class="row"style="background:pink;">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- DataTables Advanced Tables -->
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper"style="background:pink;">
              <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                  
                  <form action="{:U('Home/Joke/index')}" method="get">
                    
                  <div class="col-sm-4" style="margin-top:15px;margin-left:60px;float:left;">
                    <div class="dataTables_length" id="dataTables-example_length">
                      <label>显示 
                        <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                          <option <?php echo $_GET['num'] == 2 ? 'selected' : '' ?> value="2">2</option>
                          <option <?php echo $_GET['num'] == 5 ? 'selected' : '' ?> value="5">5</option>
                          <option <?php echo $_GET['num'] == 10 ? 'selected' : '' ?> value="10">10</option>
                          <option <?php echo $_GET['num'] == 20 ? 'selected' : '' ?> value="20">20</option>
                        </select>
                        条
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4" style="margin-top:15px;margin-right:140px;float:right;">
                    <div id="dataTables-example_filter" class="dataTables_filter">
                      <label>乐闻标题:<input value="{$Think.get.keyword}" name="keyword" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example">&nbsp;&nbsp;
                      <button type="submit" style="width:80px;height:30px;margin-bottom:10px;"class="btn btn-info">查询</button></label>
                    </div>
                  </div>

                  </form>

                </div>
                <div class="row"style="margin-left:40px;">
                  <div class="col-sm-11">
                  <!-- 开心一刻列表遍历 -->
                    <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info">
                      <thead>
                        <tr role="row"style="margin-left:20px;">
                          <!-- <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 124px;" aria-label="Platform(s): activate to sort column ascending">&nbsp;</th> -->
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 129px;" aria-label="Browser: activate to sort column ascending">乐闻图片</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 129px;" aria-label="Browser: activate to sort column ascending">乐闻标题</th>
                          <!-- <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 124px;" aria-label="Platform(s): activate to sort column ascending">乐闻内容</th> -->
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 98px;" aria-label="Engine version: activate to sort column ascending">发布时间</th>
                          <!-- <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">作者</th> -->
                          <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">点赞量</th>
                          <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">浏览量</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 40px;margin-right:5px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <foreach name="users" item="vo" key="k" >   
                          <tr class="gradeA odd" role="row">
                            <!-- <td class="edit">
                              <img src="__PUBLIC__/Home/Images/jt.png" width="20px">
                            </td> -->
                            <td class="sorting_1">
                              <img src="{$vo.joke_pic}" width="60px"height="60px">
                            </td>
                            <td class="edit">[ {$vo.title} ]</td>
                            <!-- <td class="edit_msg">{$vo.joke_msg}</td> -->
                            <!-- <td class="edit_msg"><?php echo htmlspecialchars_decode($vo['joke_msg']);?></td> -->
                            <td class="t">{$vo.joke_time}</td>
                            <!-- <td class="sorting_1 sid">{$vo.author}</td> -->
                            <td class="sorting_1 sid">{$vo.zanzan}</td>
                            <td class="sorting_1 sid">{$vo.look_num}次</td>
                            <td class="center">
                              <!-- <a href="{:U('Home/Joke/zanzan',array('id'=>$vo['id']))}?zanzan={$vo.zanzan}" class="btn btn-danger btn-info" type="button"><i class="fa fa-wrench"></i> 我要点赞</a> -->
                              <a href="{:U('Home/Jokecont/index',array('id'=>$vo['id']))}?look_num={$vo.look_num}" class="btn btn-info btn-info" type="button" style="width:80px;height:30px;"><i class="fa fa-wrench"></i> 查看</a>
                      
                            </td>
                          </tr>
                        </foreach>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite"><img src="__PUBLIC__/Home/Images/girl3.gif" style="width:1230px;height:300px;"></div>
                  </div>
                  <style type="text/css">
                      #pages a,#pages span{ background-color: #fff;
                              border: 1px solid #ddd;
                              color: #337ab7;
                              float: left;
                              line-height: 1.42857;
                              margin-left: -1px;
                              padding: 6px 12px;
                              position: relative;
                              text-decoration: none;}
                      #pages span {
                            background-color: #337ab7;
                            border-color: #337ab7;
                            color: #fff;
                            cursor: default;
                            z-index: 2;
                            }
                  </style>
                 
                  <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                       <div id="pages">
                          {$pages}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.table-responsive -->

          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
  <script type="text/javascript">
  var dtime = document.getElementById('dtime');
  // /修改样式
  dtime.style.width = '250px';
  dtime.style.height = '40px';
  dtime.style.background = 'pink';
  //text-align 如果遇到双拼词,把杠去掉,后面的首字母大写
  dtime.style.textAlign = "center";
  dtime.style.lineHeight = '40px';
  //启动定时器
  setInterval(function(){
    // 创建时间对象 当前本机时间
    var d = new Date();
    //创建指定时间
    // var d = new Date(2011,10,11,11,11,11);
    //获取四位数的年 getFullYear()
    var year = d.getFullYear();
    //获取月份 getMonth
    var month = d.getMonth()+1;//索引从0开始
    if(month <=9){
      month = "0"+month;
    }
    //获取天数 getDate
    var date = d.getDate();
    //获取小时 getHours()
    var hours = d.getHours();
    if(hours <= 9){
      hours = "0"+hours;
    }
    //获取分钟 getMinutes()
    var minutes = d.getMinutes();
    if(minutes <= 9){
      minutes = "0"+minutes;
    }
    //获取秒 getSeconds
    var seconds = d.getSeconds();
    if(seconds <= 9){
      seconds = "0"+seconds;
    }
    //获取星期 getDay
    var day = d.getDay();
    //拼接字符串
    var str = year+"-"+month+"-"+date+" "+hours+":"+minutes+":"+seconds;
    // 设置文本
    dtime.innerHTML = str;
    // console.log(day);
  },1000);
    $(document).ready(function(){
  $("button:eq(1)").click(function(){
  $("pre").toggle();
  });
});
    $(function () {
  $('[data-toggle="popover"]').popover()
})
    var  chou = document.getElementById('chou');
    //
    chou.onclick = function(){
      var num = rand(1,100);
      //判断
      if(num >= 90 && num <= 100){
        alert('您今天的幸运色是:红色,红色是热烈、冲动、强有力的色彩');
      }else if(num >= 80 && num <= 89){
        alert('您今天的幸运色是:橙色,橙色是欢快活泼的光辉色彩，是暖色系中最温暖的色,橙色象征着温暖与活力');
      }else if(num >= 70 && num <= 79){
        alert('您今天的幸运色是:黄色,黄色的灿烂、辉煌，有着太阳般的光辉，象征着照亮黑暗的智慧之光,黄色象征着华丽、高贵与温馨');
      }else if(num >= 50 && num <= 69){
        alert('您今天的幸运色是:绿色,鲜艳的绿色是一种非常美丽、优雅的颜色，它生机勃勃，象征着生命,绿色象征着青春与大自然');
      }else if(num >= 40 && num <= 49){
        alert('您今天的幸运色是:蓝色,蓝： 沉静、幽远，欧洲为对国家之忠诚象征,蓝色象征着纯洁、梦想');
      }else if(num >= 20 && num <= 39){
        alert('您今天的幸运色是:靛色,靛色:代表祥和、清凉、深远、舒畅,靛色象征着清新和舒畅');
      }else {
        alert('您今天的幸运色是:紫色,它美丽而又神秘，给人深刻的印象，它既富有威胁性,又富有鼓舞性,紫色象征着优雅、高贵、魅力和神秘');
      }
    }
    function rand(m,n){
      return (Math.ceil(Math.random()*100000)%(n-m+1))+m;
    }
  //定义数组
  var arr = new Array('1.谁是万兽之王?','2.什么样的人死后还会出现?','3.什么帽不能戴?','4.书店里买不到什么书?','5.大象的左耳朵像什么？','6.什么水永远用不完?','7.什么东西有五个头，但人不觉得它怪呢?','8.家人问医生病人的情况,医生只举起5个手指, 家人就哭了,是什么原因呢?','9.把一只鸡和一只鹅同时放在冰山上，为什么鸡死了鹅没死？','10.什么英文字母让人们喜欢听而且听的人最多?');
  // 获取元素对象
  var btn = document.getElementById('btn');
  var uname = document.getElementById('uname');
  //获取数组长度
  var len = arr.length;
  var itime = null;//定时器全局变量
  var m = 0;
  // 绑定事件
  btn.onclick = function(){
    func();
  }
  //封装随机猜谜方法
  function func(){
    //检测数组长度
    if(len < 1){uname.innerHTML = '全部结束';return;}
    //检测定时器是否开启
    if(itime == null){
      //开始随机
      itime = setInterval(function(){
        //随机数组的下标
        m = Math.ceil(Math.random()*10000)%len;
        //不停的修改文本
        uname.innerHTML = arr[m];
      },120)

      //按钮文本
      btn.innerHTML = '停止';
    }else{
      //已经开始了就要停止
      //清除定时器
      clearInterval(itime);
      //修改定时器全局变量
      itime = null;
      //按钮文本
      btn.innerHTML = '开始';
      //splice 删除
      arr.splice(m,1);
      //修改数组的长度
      len = arr.length;
      console.log(arr);
    }
    
   }
  // $('button:eq(0)').click(function(){
  //   alert('111111');
  //   $('#move').slideToggle(1000);
  // }) 

  </script>
</block>
