<extend name="Public/index"/>
<block name="content">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">开心一刻列表</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- DataTables Advanced Tables -->
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                 <form action="{:U('Admin/Joke/index')}" method="get">
                  <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">
                      <label>显示 
                        <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                          <option <?php echo $_GET['num'] == 2 ? 'selected' : '' ?> value="2">2</option>
                          <option <?php echo $_GET['num'] == 5 ? 'selected' : '' ?> value="5">5</option>
                          <option <?php echo $_GET['num'] == 10 ? 'selected' : '' ?> value="10">10</option>
                          <option <?php echo $_GET['num'] == 20 ? 'selected' : '' ?> value="20">20</option>
                        </select>
                        条
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div id="dataTables-example_filter" class="dataTables_filter">
                      <label>新闻标题:<input value="{$Think.get.keyword}" name="keyword" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label>
                      <button type="submit" class="btn btn-info">查询</button>
                    </div>
                  </div>
                 </form>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                  <!-- 开心一刻列表遍历 -->
                    <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 20px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Browser: activate to sort column ascending">乐闻图片</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 120px;" aria-label="Browser: activate to sort column ascending">乐闻标题</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 600px;" aria-label="Platform(s): activate to sort column ascending">乐闻内容</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Engine version: activate to sort column ascending">创建时间</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Browser: activate to sort column ascending">作者</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Browser: activate to sort column ascending">点赞量</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Browser: activate to sort column ascending">浏览量</th>
                          <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <foreach name="users" item="vo" key="k" >   
                          <tr class="gradeA odd" role="row">
                            <td class="sorting_1 sid">{$vo.id}</td>
                            <td class="sorting_1">
                              <img src="{$vo.joke_pic}" width="50px"height="50px">
                            </td>
                            <td class="edit">{$vo.title}</td>
                           <td class="edit_msg"style="width:100px;" name="joke_msg" id="" cols="30" rows="10"><?php echo htmlspecialchars_decode($vo['joke_msg']);?></td>
                            
                            <td class="t">{$vo.joke_time}</td>
                            <td class="edit111">{$vo.author}</td>
                            <td class="edit111">{$vo.zanzan}</td>
                            <td class="edit111">{$vo.look_num}</td>
                            <td class="center">
                              <button class="btn btn-danger btn-del  btn-primary" type="button"><i class="fa fa-times"></i> 删除</button><br><br>
                              <a href="{:U('Admin/Joke/save',array('id'=>$vo['id']))}" class="btn btn-primary btn-primary" type="button"><i class="fa fa-wrench"></i> 修改</a>
                            </td>
                          </tr>
                        </foreach>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">开心一刻管理页面</div>
                  </div>
                  <style type="text/css">
                      #pages a,#pages span{ background-color: #fff;
                              border: 1px solid #ddd;
                              color: #337ab7;
                              float: left;
                              line-height: 1.42857;
                              margin-left: -1px;
                              padding: 6px 12px;
                              position: relative;
                              text-decoration: none;}
                      #pages span {
                            background-color: #337ab7;
                            border-color: #337ab7;
                            color: #fff;
                            cursor: default;
                            z-index: 2;
                            }
                  </style>
                 
                  <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                       <div id="pages">
                          {$pages}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.table-responsive -->

          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>

  <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">
    //绑定单击事件
    $('.btn-del').click(function(){
      // alert('222');

      //获取id
      var id = $(this).parents('tr').find('.sid').html();
      var url = "{:U('Admin/Joke/ajaxdel')}";
      // alert(url);
      var btn = $(this);
      //ajax
      $.get(url,{id:id},function(data){
        // console.log(data);
        if(data == 1){
          // alert('成功');
         btn.parents('tr').remove();
        }else{
          alert('失败');
        }

    

      })


    })
    //给第二个td绑定双击事件
   $('.edit').dblclick(function(){
    //获取当前的文本
    var v = $(this).html();
    // 创建inp
    var inp = $('<input type="text" value="'+v+'" name="title" />')
    //将input插入td中
    $(this).html(inp);
    //让input处于选中状态
    inp.select();
    var td = $(this);

    //绑定丧失焦点事件
    inp.blur(function(){
      //获取当前修改后的值
      var newV = $(this).val();
      //获取当前的id
      var id = $(this).parents('tr').find('.sid').html();
      var gtime = $(this).parents('tr').find('.t').html();

      var url = "{:U('Admin/Joke/ajaxedit')}";
      //发送ajax
      $.get(url,{id:id,joke_time:gtime,title:newV},function(data){
        if(data == 1){
          // alert('修改成功');
          td.html(newV);
        }else{
          alert('修改失败');
        }
      })

    })
   })
    //给第二个td绑定双击事件
   $('.edit_msg').dblclick(function(){
    //获取当前的文本
    var v = $(this).html();
    // 创建inp
    var inp = $('<input type="text" value="'+v+'" name="joke_msg" />')
    //将input插入td中
    $(this).html(inp);
    //让input处于选中状态
    inp.select();
    var td = $(this);

    //绑定丧失焦点事件
    inp.blur(function(){
      //获取当前修改后的值
      var newV = $(this).val();
      //获取当前的id
      var id = $(this).parents('tr').find('.sid').html();
      var gtime = $(this).parents('tr').find('.t').html();
      var url = "{:U('Admin/Joke/ajaxedit')}";
      //发送ajax
      $.get(url,{id:id,joke_time:gtime,joke_msg:newV},function(data){
        if(data == 1){
          // alert('修改成功');
          td.html(newV);
        }else{
          alert('修改失败');
        }
      })

    })
   })
  </script>
</block>