<extend name="Public/index1" />
<block name="content">
<style type="text/css">
  a:hover{
    text-decoration:none;
  }
  .gr:hover{background:#ccc}
</style>

<div style="width:80%;margin:20px auto;height:800px;">
  <div style="width:250px;float:left">
     <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px" class="gr"><span style="margin-left:10px;font-size:20px" ><a href="{:U('Home/Personal/index')} style="padding:10px 150px 7px 7px"">个人中心</a></span></div><div style="width:250px;height:278px;margin-top:20px;border:1px solid #ccc">
       <div style="width:250px;height:250px"> 
                <?php 
                  if(empty($xj[pic])){
                    echo '<img src="__PUBLIC__/Home/Images/touxiang.jpg" width="248px" height="248px" style="border-radius:50%;">';
                  }else{
                    echo '<img src="'.$xj[pic].'" width="248px" height="248px" style="border-radius:50%;" >';
                  }
                  ?>
       </div>
       <div style="width:250px;height:30px;line-height:30px;text-align:center"><span style="font-size:18px">用户名:</span>{$xj.username}</div>
     </div>
     <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px"><span style="margin-left:10px;font-size:20px;color:#ccc">个人资料</span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Personal/change')}" style="padding:10px 150px 7px 7px">修改密码</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Order/index')}" style="padding:10px 150px 7px 7px">个人订单</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Orderby/index')}" style="padding:10px 130px 7px 7px">未完成订单</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Order/delivered')}" style="padding:10px 130px 7px 7px">已发货订单</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Order/unfilled')}" style="padding:10px 130px 7px 7px">未发货订单</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Order/received')}" style="padding:10px 130px 7px 7px">已收货订单</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Order/assess')}" style="padding:10px 150px 7px 7px">我的评价</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Orderaddress/index')}" style="padding:10px 150px 7px 7px">收货地址</a></span></div>
       <div style="width:250px;height:50px;border:1px solid #ccc;line-height:50px;margin-top:20px" class="gr"><span style="margin-left:10px;font-size:20px"><a href="{:U('Home/Orderaddress/addaddress')}" style="padding:10px 110px 7px 7px">添加收货地址</a></span></div>
     <div style="width:250px;height:500px;border:1px solid #ccc;margin-top:20px">
       <div style="width:220px;height:40px;margin:10px;font-size:18px">最新活动</div>
       <div style="width:220px;height:240px;"><img src="__PUBLIC__/Home/img/1.jpg"></div>
     </div>
  </div>
   <div style="width:700px;float:right;border:1px solid #ccc">
    
      <form class="form-horizontal" action="{:U('Home/Personal/update')}" method="post" enctype="multipart/form-data">
          <div class="form-group">
          <input type="hidden" name="id" value="{$xj.id}">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
              <input type="email" name="username" class="form-control" value="{$xj.username}" disabled>
            </div>
          </div>
          <div class="form-group">
          <label class="col-sm-2 control-label">上传头像</label>
                                               
               <div class="col-sm-10">
                 <?php  
                  if(empty($xj[pic])){
                    echo '<img src="__PUBLIC__/Home/Images/touxiang.jpg" width="50px" height="50px">';
                  }else{
                    echo '<img src="'.$xj[pic].'" width="50px" height="50px">';
                  }
                  ?>
                  <input name="pic" type="file" >
                 </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
              <input type="radio" name="sex" value=0 <if condition="$info.sex eq 0"> checked</if> >女
              <input type="radio" name="sex" value=1 <if condition="$info.sex eq 1"> checked</if> >男
              <input type="radio" name="sex" value=2 <if condition="$info.sex eq 2"> checked</if> >不详
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">爱好</label>
            <div class="col-sm-10">
              <input type="checkbox" name="hobby[]" value="0" <if condition="in_array('0',$hobby) "> checked</if> >篮球
              <input type="checkbox" name="hobby[]" value="1" <if condition="in_array('1',$hobby) "> checked</if> >足球
              <input type="checkbox" name="hobby[]" value="2" <if condition="in_array('2',$hobby) "> checked</if> >球球
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
              <input type="text" name="tel" class="form-control" value="{$xj.tel}" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input type="text" name="email" class="form-control" value="{$xj.email}" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">个人简介</label>
            <div class="col-sm-10">
              <textarea name="intro" class="form-control">{$xj.intro}</textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" style="color:#000">提交</button>
              <a class="btn btn-default" href="{:U('Home/Personal/information')}" role="button" style="color:#000">关闭</a>
            </div>
          </div>
      </form>
     
  </div>
</div>
</script>
</block>