<extend name="Public/index"/>
<block name="content">
 
     <div style="margin-top:10px;">

       <!-- Nav tabs -->
       <ul class="nav nav-tabs" role="tablist" style="color:#F39A32">
         <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="font-size:20px;">品牌故事</a></li>
         <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" style="font-size:20px;">品牌优势</a></li>
         <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="font-size:20px;">发展历程</a></li>
         <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" style="font-size:20px;">实体店地址</a></li>
       </ul>

       <!-- Tab panes -->
       <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="home" style="background:#A0EAF0"><br><p style="color:#000;font-size:16px;">&nbsp;&nbsp;名门婚纱是中国婚纱摄影知名品牌。名门婚纱摄影旗舰店于2009年8月29号正式在城固西环一路隆重开幕，城固名门婚纱摄影旗舰店一至五层总面积1500多平、VIP专属贵宾舱给您足够的空间展示您的完美，豪华•温馨•精致的室内装潢，全方位的豪华3D实景阳光影棚拍摄设施设备。</p><br>
　　     <p style="color:#000;font-size:16px;">&nbsp;&nbsp;名门婚纱凝聚了中国文化的精髓与西方文化的渊源，聚集了摄影化妆精英，引进最新的婚纱摄影技术，配合欧美最流行的格调，为新人提供最完美，最上乘的艺术佳品。</p>
         <br>

　　      <p style="color:#000;font-size:16px;">&nbsp;&nbsp;名门婚纱以过硬的服务品质、专业的技术水平、良好的信誉，以追求完美至上的雄心，心存高远的志向、脚踏实地的作风、稳扎稳打的性格，开创着自己的事业，立志打造中国摄影百年品牌。</p><br>
      <p style="color:#5A0081;font-size:16px;">&nbsp;&nbsp;全力打造“星”级化拍摄环境，研发差异化特色产品，奉献专业化超值服务。</p>
　　<br>

　　<p style="color:#000;font-size:16px;">&nbsp;&nbsp;精致来自对品质的要求，品质源由于专业的素养。我们的骄傲，更是您珍藏完美、见证爱情的唯一首选。我们要让每一位来名门拍照的新娘，都成为世上最幸福美丽的女人！</p><br>
</div>
         <div role="tabpanel" class="tab-pane" id="profile" style="background:#A0EAF0"><br>
          <p style="margin-left:30px;">
            <b style="color:#000;font-size:18px;">完美品质:</b><span style="color:#C6174D;font-size:16px;">&nbsp;&nbsp;&nbsp;优质的产品、完善的服务、健全的体制、最新的理念服务</span>
          </p><br>
           <p style="margin-left:30px;">
            <b style="color:#000;font-size:18px;">品牌优势:</b><span style="color:#D66424;font-size:16px;">&nbsp;&nbsp;&nbsp;一个悠久、享誉全球的品牌，国际知名品牌。</span>
          </p><br>
          <p style="margin-left:30px;">
            <b style="color:#000;font-size:18px;">顶级设备:</b><span style="color:#9D24D6;font-size:16px;">&nbsp;&nbsp;&nbsp;国际进口摄影器材，数百旅游实景影棚，数千套服装造型</span>
          </p><br>
           <p style="margin-left:30px;">
            <b style="color:#000;font-size:18px;">技术团队:</b><span style="color:#D624C1;font-size:16px;">&nbsp;&nbsp;&nbsp;荣获多项国际大奖的摄影师，化妆师全程一对一服务，根据不同的人和场景为客户设计最适合的造型、风格。</span>
          </p><br>
           <p style="margin-left:30px;">
            <b style="color:#000;font-size:18px;">发展空间:</b><span style="color:#BCD624;font-size:16px;">&nbsp;&nbsp;&nbsp;合作共赢的战略性上市增值</span>
          </p><br>

         </div>
         <div role="tabpanel" class="tab-pane" id="messages" ><br>
           <p style="color:#000;font-size:18px;">服装鞋帽在淘宝中一直处于<span style="color:#f00">主流</span>地位</p><br>
            <center><a href="http://map.baidu.com/?newmap=1"><img src="__PUBLIC__/Home/Images/history.jpg" alt=""></a></center><br>
         </div>
         <div role="tabpanel" class="tab-pane" id="settings">
           <div class="row" style="background-image:url('__PUBLIC__/Home/Images/xdl.jpg')">
             <div class="col-sm-6 col-md-6" >
               <div class="thumbnail">
                 <img src="__PUBLIC__/Home/Images/address1.png" alt="..." style="height:300px;">
                 <div class="caption">
                   <h3><center>公司名称: 上海易第优有限公司</center></h3>
                 <center>
                   <p><a href="http://map.baidu.com/?newmap=1" style="background:#296395;color:#fff"class="btn" role="button">搜索地图</a></p><br>
                  </center>
                 </div>
               </div>
             </div>
             <div class="col-sm-6 col-md-6" style="background-image:url('__PUBLIC__/Home/Images/address2.jpg')">
<!-- ===================kaishi=========== -->
             <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width:600px;">
           <span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="margin-right:80px;color:#f00">&nbsp;&nbsp;点我展开</span>实体店相关信息概述(免费打广告)
             </button>
             <div class="collapse" id="collapseExample">
               <div class="well">
                <p style="color:#528"><b style="color:#000">详细地址: </b><span>上海市闸北区万荣路1188号 F栋三层 兄弟连上海（华东）校区</span></p>
                <p>上海易第优软件科技有限公司（兄弟连）专注于软件科技、网络科技，是国内领先的PHP/LAMP技术专业培训公司，一直秉承“让学习成为一种习惯”的严管理念认认真真做教育。隶属于北京易第优教育咨询有限公司（兄弟连），总部位于北京回龙观，公司成立于2007年</p>
                <p>最权威的师资阵容，严苛的讲师考核上岗及教学考评体系；最实用领先的课程体系，与企业实际需求结合，避免大学式闭门造车的人才培养。 李超:70后，做过铁路工人、JAVA程序员、技术支持、IT讲师、还干过几天管理，06年底策划并创立兄弟连，对教育的本质有较为深刻的理解，坚持兄弟的核心价值，认为最浪漫的事情就是离开这个世界的时候兄弟连还在且越来越强大。 </p>
                <p>兄弟连五大优势</p>
                      <p> 1、中国PHP培训领导品牌，七年专注PHP培训，堪称PHP程序员黄埔军校。</p>

                       <p>2、坚持“无兄弟 不编程，不抛弃 不放弃”的理念，亦师亦友，学员都是兄弟姐妹。</p>

                       <p>3、（真实最）业内唯一一家推出“一个月免费预科，不满意不缴费”政策，让学员更真<p>实的了解兄弟连、了解自己是否适合做软件开发再做决定。</p>

                      <p>  4、（教材专）业内唯一一家出版PHP学习圣经《细说PHP》，PHP类图书全国销售第一名。</p>

                      <p>5、（环境赞）业内唯一一家提供24小时开放机房，为你的学习提供最好的保障。</p> 
              
               </div>
             </div>
             </div>
           </div>
        </div>
  <!-- </div> -->

     <!-- </div>  -->

<!-- -==================================================== -->
  <br><br>
  <div class="media-body">
    <h4 class="media-headi ng" style="font-size:20px;color:#000;background:#296395;height:40px;line-height:40px;">
    <span style="margin-left:500px;">组内分工介绍</span>  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left:300px;">
              Listening  Please
            </button>
    <!-- ======================================================= -->


    <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center><h4 class="modal-title" id="myModalLabel" style="color:#f00">我想大声告诉你</h4></center>
                  </div>
                  <div class="modal-body">
                  <center>
                  <p stle="color:#C100FF">
                    曾经，有一份真诚的爱情放在我面前,我没有珍惜，<br>
                    等到我失去的时候才后悔莫及，<br>
                    人世间最痛苦的事莫过于此……  <br>
                    如果上天能够给我一个再来一次的机会，<br>
                    我会对那个项目经理说三个字：<br>
                    “放我过!” <br>
                    如果非要在这份爱上加上次数，<br>
                    我希望是……就一次！
                   </p>
                    <p style="color:#0D90D1">
                    一次就好~~~<br>
                    我陪你去看天荒地老~~~~<br>
                    一次就好我带你去看天荒地老,<br>  
                    在阳光灿烂的日子里开怀大笑,<br>
                    在自由自在的空气里吵吵闹闹,<br>
                    你可知道我唯一的想要,<br>
                    世界还小我陪你去到天涯海角,<br>
                    在没有烦恼的角落里停止寻找,<br>
                    在无忧无虑的时光里慢慢变老,<br>
                    你可知道我全部的心跳.....<br>
                    随你跳~~~~~~~~~~~~~~~~~~~

                    </p>
                    </center>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
    <!-- ======================RND  SIREN INFO================================= -->

    </h4>
  <br>
 
<!-- =========================sankuai======= -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          成员一号======>黄丹
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        
<!-- ==========end=========== -->
       <center>
         <p>前台: 1)首页的搭建; 2)社区中潮流动态; 3)"关于我们"中的团队介绍; 4)用户的登录注册页;</p><br> 
         <p>后台: 1)用户管理; 2)管理员管理; 3)管理员权限管理; 4)潮流动态管理;</p>
       </center>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          成员二号======>李文慧
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
     <div class="panel-body">
     <center>
       <p>  前台: 1)商品页; 2)商品分类; 3)商品详情 4)购物车的生成; 5)社区中的开心一刻;</p><br> 
       <p>  后台: 1)商品管理; 2)分类管理; 3)开心一刻管理;</p>
     </center>
     
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            成员三号======>俞顺程
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">    

          <center>
             <p> 前台: 1)个人中心用户资料修改; 2)订单生成; 3)相关订单查询; 4)社区中反馈意见;</p><br> 
             <p>  后台: 1)订单管理; 2)反馈意见管理;</p>
           </center>            
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            成员四号======>张卓彦
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">

        <center>
          <p> 前台: 1)"关于我们"中招聘页; 2)优秀婚庆推荐; 3)QQ在线咨询 4)优秀婚庆评价; 5)简历填写</p><br> 
          <p> 后台: 1)招聘管理; 2)简历管理; 3)优秀婚庆管理; 4)婚庆评价管理</p>
        </center>      
        </div>
      </div>
    </div>
  </div>
<!-- ===============================end sankuai -->


</block>
